body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  padding: 10px;
  border-radius: 5px;
  background-color: #212121;
  color: whitesmoke;
  border: none;
  font-weight: 600;
  transition: 200ms ease-in-out;
  margin: 10px;
}

.button:hover {
  background-color: #3b3b3b;
  transform: scale(1.1);
  cursor: pointer;
}

#btn3 {
  position: absolute;
}

#congrats {
  display: none;
}